In [1]:
import pandas as pd

In [98]:
from sklearn.preprocessing import StandardScaler

In [11]:
import numpy as np

In [36]:
heart_diseases_data = pd.read_csv('C:/Users/DELL/Desktop/FODS/healthcare-dataset-stroke-data.csv')

In [38]:
heart_diseases_data

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [40]:
heart_diseases_data.fillna(heart_diseases_data.select_dtypes(include='number').mean(), inplace=True)

In [42]:
heart_diseases_data

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,28.893237,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.000000,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.600000,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.600000,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.200000,Unknown,0

In [44]:
heart_diseases_data.drop_duplicates(inplace = True)

In [46]:
heart_diseases_data

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,28.893237,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.000000,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.600000,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.600000,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.200000,Unknown,0

In [52]:
heart_diseases_data = pd.get_dummies(heart_diseases_data,columns=['gender'], drop_first=True)

In [56]:
heart_diseases_data

,id,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,gender_Male,gender_Other
0,9046,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1,True,False
1,51676,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked,1,False,False
2,31112,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1,True,False
3,60182,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1,False,False
4,1665,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,80.0,1,0,Yes,Private,Urban,83.75,28.893237,never smoked,0,False,False
5106,44873,81.0,0,0,Yes,Self-employed,Urban,125.20,40.000000,never smoked,0,False,False
5107,19723,35.0,0,0,Yes,Self-employed,Rural,82.99,30.600000,never smoked,0,False,False
5108,37544,51.0,0,0,Yes,Private,Rural,166.29,25.600000,formerly smoked,0,True,False
5109,44679,44.0,0,0,Yes,Govt_job,Urban,85.28,26.200000,Unknown,0,False,False

In [100]:
numerical_cols = ['age', 'avg_glucose_level', 'bmi']

In [102]:
scaler = StandardScaler()

In [104]:
heart_diseases_data[numerical_cols] = scaler.fit_transform(heart_diseases_data[numerical_cols])

In [106]:
heart_diseases_data

,id,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,gender_Male,gender_Other
0,9046,1.051434,0,1,Yes,Private,Urban,2.706375,1.001234e+00,formerly smoked,1,True,False
1,51676,0.786070,0,0,Yes,Self-employed,Rural,2.121559,4.393074e-16,never smoked,1,False,False
2,31112,1.626390,0,1,Yes,Private,Rural,-0.005028,4.685773e-01,never smoked,1,True,False
3,60182,0.255342,0,0,Yes,Private,Urban,1.437358,7.154182e-01,smokes,1,False,False
4,1665,1.582163,1,0,Yes,Self-employed,Rural,1.501184,-6.357112e-01,never smoked,1,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,1.626390,1,0,Yes,Private,Urban,-0.494658,4.393074e-16,never smoked,0,False,False
5106,44873,1.670617,0,0,Yes,Self-employed,Urban,0.420775,1.442949e+00,never smoked,0,False,False
5107,19723,-0.363842,0,0,Yes,Self-employed,Rural,-0.511443,2.217363e-01,never smoked,0,False,False
5108,37544,0.343796,0,0,Yes,Private,Rural,1.328257,-4.278451e-01,formerly smoked,0,True,False
5109,44679,0.034205,0,0,Yes,Govt_job,Urban,-0.460867,-3.498953e-01,Unknown,0,False,False