# Ex - GroupBy

In [30]:
import pandas as pd

### Step 2. Import the dataset from this drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [33]:
drinks=pd.read_csv('drinks.csv')
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Step 4. Which continent drinks more beer on average?

In [35]:
grouped = drinks.groupby('continent')

# Calculate the mean for specific columns ('Value1', 'Value2', 'Value3')
average_values = grouped[['beer_servings']].mean()

# Print the result
print(average_values)

max_beer_on_average = average_values[['beer_servings']].max()
print(max_beer_on_average)

           beer_servings
continent
AF             61.471698
AS             37.045455
EU            193.777778
OC             89.687500
SA            175.083333
beer_servings    193.777778
dtype: float64

### Step 5. For each continent print the statistics for wine consumption.

In [37]:
wine_consumption = drinks['wine_servings'].describe()

# Print the description
print(wine_consumption)

count    193.000000
mean      49.450777
std       79.697598
min        0.000000
25%        1.000000
50%        8.000000
75%       59.000000
max      370.000000
Name: wine_servings, dtype: float64

### Step 6. Print the mean alcohol consumption per continent for every column

In [39]:
grouped = drinks.groupby('continent')

mean_alcohol_consumption = grouped[['total_litres_of_pure_alcohol']].mean()

# Print the result
print(mean_alcohol_consumption)

           total_litres_of_pure_alcohol
continent
AF                             3.007547
AS                             2.170455
EU                             8.617778
OC                             3.381250
SA                             6.308333

### Step 7. Print the median alcohol consumption per continent for every column

In [41]:
grouped = drinks.groupby('continent')

median_alcohol_consumption = grouped[['total_litres_of_pure_alcohol']].median()

# Print the result
print(median_alcohol_consumption)

           total_litres_of_pure_alcohol
continent
AF                                 2.30
AS                                 1.20
EU                                10.00
OC                                 1.75
SA                                 6.85

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [43]:
mean_value = drinks['spirit_servings'].mean()
min_value = drinks['spirit_servings'].min()
max_value = drinks['spirit_servings'].max()

# Print the values
print("Mean:", mean_value)
print("Min:", min_value)
print("Max:", max_value)

Mean: 80.99481865284974
Min: 0
Max: 438